<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" style="text/css" href="static/homeStyle.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  	<script src="static/homeScript.js"></script>
  	<link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
  	
  	<title>&#8226; ArtHop &#8226;</title>

</head>


<body>
	<div class="l-wrap">
		<div class="three-col-grid">
			<div class="grid-item">Image 1</div>
			<div class="grid-item">Image 2</div>
			<div class="grid-item">Image 3</div>
		</div>
	</div>
</body>
</html>